.jumbotron {
    width: 80%;
    margin: 0 auto 20px;
    padding: 20px 20px 5px;
    -webkit-box-shadow: 1px 1px 10px black;
    -moz-box-shadow: 1px 1px 10px black;
    box-shadow: 1px 1px 10px black;
}
.jumbotron h3 {
    margin: 5px 0;
}